@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

#heading {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 50px;
    font-weight: 900;
}

.container {
    border: 1px solid black;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-grow: 1;
}

.innerDiv {
    flex-grow: 1;
}

.buttons {
    display: flex;
    gap: 18px
}

button {
    font-family: "Pixelify Sans", sans-serif;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(225, 236, 245);
}

button:hover {
    background-color: aliceblue;
}